<!--[if gt IE 8]><!-->
<script type="text/javascript" src="{{ 'javascripts/lib/d3.v3.js' | as_asset_url }}"></script>
<script type="text/javascript" src="{{ 'javascripts/table-to-tree-map.js' | as_asset_url }}"></script>
<!--<![endif]-->
<script type="text/javascript" src="{{ 'javascripts/tree-caption.js' | as_asset_url }}"></script>
<script>
  $(document).ready(function() {
    var $treemap = $('.treemap'),
        $nodes = $treemap.find('.node');
    if ($treemap.length && !$nodes.length && (typeof(d3) !== 'undefined')) {
      {% if threshold %}
        var tree = Tree.fromHtmlTable(d3.selectAll("tbody tr"), '{{ threshold }}');
      {% else %} 
        var tree = Tree.fromHtmlTable(d3.selectAll("tbody tr"));
      {% endif %}
        TreeMapLayout.display("{{ treemapDivId }}", tree);
    } else {
      if(TreeMapLayout){
        $(window).on('resize', function () {
          TreeMapLayout.display("{{ treemapDivId }}", tree);
        });
      }
    }
    
    // Add hover captions 
    tipperate();

  });
</script>

